<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    {{template "meta"}}
    {{template "include_css"}}
</head>
<body>
{{template "navbar" .}}
<form action="/login/" method="POST">
    <label>
        username:
        <input type="text" name="username" />
    </label>
    <br>
    <label>
        password:
        <input type="password" name="password" />
    </label>
    <br>
    <input type="submit" value="log in" />
</form>
{{template "include_js"}}
</body>
</html>