<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    {{template "meta"}}
    {{template "include_css"}}
</head>
<body>
{{template "navbar"}}
<form action="/signup/" method="POST">
    <label>
        username:
        <input type="text" name="username" />
    </label>
    <br>
    <label>
        password:
        <input type="password" name="password" />
    </label>
    <br>
    <label>
        phone number:
        <input type="text" name="phone number" />
    </label>
    <br>
    <input type="submit" value="sign up" />
</form>
{{template "include_js"}}
</body>
</html>